@import "../variables.css";

body {
    background-color: var(--body-bg);
    font-size: var(--font-size-base);
    color: var(--font-color-base);
    padding: 0;
    margin: 0;
}

.page-wrapper {
    padding: 15px;
}

.form-control {
    border-radius: 0;
}

button {
    border-radius: 0 !important;
    cursor: pointer !important;

    &:disabled {
        cursor: not-allowed !important;
    }
}

.table {

    & thead {

        & th {
            border-top: 0;
            font-weight: normal;
            font-size: .9rem;
        }

    }

    & td,
    & th {
        padding: .5rem;
    }

}